{% extends "base.html" %}
{% load static i18n %}
{% block title %}Addresss{% endblock %}

{% block content %}
<div class="container">
  <h2>Addresss</h2>

  <div class="list-group">
    {% for address in address_list %}
      <a href="{% url 'students:address-detail' address.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ address }}</h4>
      </a>
    {% endfor %}
  </div>

  <div class="control-group">
    <div class="controls">
      <a href="{% url 'students:address-add' %}"><button class="btn btn-outline-primary">Add address</button></a>
    </div>
  </div>

</div>
{% endblock content %}
