{% extends "base.html" %}
{% load static i18n %}
{% block title %}Parents{% endblock %}

{% block content %}
<div class="container">
  <h2>Parents</h2>

  <div class="list-group">
    {% for parent in parent_list %}
    <div class="list-group-item">
      <h5 class="list-group-item-heading">{{ parent.full_name }}</h4>
      <a href="{% url 'students:parent-detail' parent.pk %}{% if request.GET.student_id %}?student_id={{ request.GET.student_id }}{% endif %}">
	<button class="btn btn-outline-secondary">View</button>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="control-group">
    <div class="controls">
      <a href="{% url 'students:parent-add' %}"><button class="btn btn-outline-primary">Add parent</button></a>
    </div>
  </div>

</div>
{% endblock content %}
