{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ site.name }}{% endblock %}

{% block content %}
  <h1>{{ parent.fullname }}</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn btn-primary">
	{% if request.resolver_match.url_name|slice:"-3:" == "add"  %}
	Add
	{% else %}
	Update
        {% endif %}
	</button>
      </div>
    </div>
  </form>
{% endblock %}
