{% extends "base.html" %}
{% load static i18n %}
{% block title %}Sites{% endblock %}

{% block content %}
<div class="container">
  <h2>Sites</h2>

  <div class="list-group">
    {% for site in site_list %}
    <div class="list-group-item">
      <h5 class="list-group-item-heading">{{ site.name }}</h5>
      <a href="{% url 'students:site-detail' site.pk %}">
  <button class="btn btn-outline-secondary">View</button>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="control-group">
    <div class="controls">
      <a href="{% url 'students:site-add' %}"><button class="btn btn-outline-primary">Add site</button></a>
    </div>
  </div>

</div>
{% endblock content %}
