{% extends "base.html" %}
{% load static %}

{% block title %}Student: {{ object.full_name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.full_name }}</h2>
      {% if object.first_name %}
        <p>{{ object.first_name }}</p>
      {% endif %}
      {% if object.classroom %}
      <p>Classroom: <a href="{% url 'students:classroom-detail' object.classroom.pk %}">{{ object.classroom.name }}</a></p>
      {% endif %}
      {% if object.parent_set.all %}
      <h3>Parents:</h3>
      {% for parent in object.parent_set.all %}
      <p><a href="{% url 'students:parent-detail' parent.pk %}">{{ parent }}</a></p>
      {% endfor %}
      <h3>Classrooms:</h3>
      {% for classroom in object.classrooms.all %}
      <p><a href="{% url 'students:classroom-detail' classroom.pk %}">{{ classroom }}</a></p>
      {% endfor %}
      {% endif %}
    </div>
  </div>

<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    {% if not object.parent_set.all %}
    <a class="btn btn-outline-primary" href="{% url 'students:parent-list' %}?student_id={{ object.pk }}" role="button">Select existing parent</a>
    <a class="btn btn-outline-primary" href="{% url 'students:parent-add' %}?student_id={{ object.pk }}" role="button">Add new parent</a>
    {% endif %}
    <a class="btn btn-outline-secondary" href="{% url 'students:student-update' object.pk %}" role="button">Edit</a>
    <a class="btn btn-outline-danger" href="{% url 'students:student-delete' object.pk %}" role="button">Delete</a>
  </div>
</div>
<!-- End Action buttons -->

</div>
{% endblock content %}

